@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

body {
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text-color);
    font: var(--font-m);
}

.content-page {
    display: flex;
}

h1 {
    font: var(--font-xl);
    font-weight: 500;
}

h2 {
    font: var(--font-l);
    font-weight: 500;
}

*::-webkit-scrollbar {
    width: 10px;               /* ширина всей полосы прокрутки */
    height: 8px;               /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    background: var(--light-bg);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-color);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
}
