.root {
    min-width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
}

.skeletons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.avatar {
    margin: 0 auto;
}

.avatarWrap {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    font: var(--font-s);

    &:not(:last-child) {
        margin-bottom: 6px;
    }
}

.blocks {
    margin-top: 20px;
}
