.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--bg-color-invert);
    transition: width 0.2s;
    position: relative;
    padding: 16px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.collapseButton {
    position: absolute;
    right: 17px;
    bottom: 50px;
}

.buttonIcon {
    fill: var(--primary-color-invert);
    transform: rotate(180deg);
    transition: 0.2s;
}

.buttonIconCollapsed {
    transform: rotate(0);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navIcon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
}

.navLink {
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s;
    border-radius: 5px;

    &:hover {
        color: #fff;
        background: var(--accent-color-invert);
    }
}
