.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--bg-color-invert);
    transition: width 0.2s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
