.sidebar {
  height: calc(100vh - var(--navbar-height));
  background: var(--bg-color-invert);
  width: var(--sidebar-width);
  transition: width .2s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}