.root {
    position: relative;
    display: flex;
    align-items: center;
}

.panel {
    position: absolute;
    z-index: 999;
    background: var(--dark-bg);
    color: var(--text-color);
    border-radius: 18px;
    padding: 16px 16px 16px 0;
    border: 1px solid var(--accent);
}

.trigger {
    display: flex;
    align-items: center;
}
