.navIcon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
    flex-shrink: 0;
    color: var(--icon-color);
}

.navLink.navLinkActive {
    background: linear-gradient(90deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    color: var(--accent);

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: var(--icon-color);
        left: 0;
    }
}

.navLink {
    width: var(--sidebar-width);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: color, background-color 0.2s;
    position: relative;

    &:hover {
        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: var(--accent);
            left: 0;
        }

        .navIcon {
            color: var(--accent);
        }
    }
}
