.icon {
    width: 24px;
    height: 24px;
    fill: var(--icon-color);
}

.LIST {
    width: 100%;
    padding: 24px;
    background: var(--dark-bg);
    border-radius: 32px;

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;
    }

    .username {
        font-weight: bold;
    }

    .title {
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: 900;
    }

    .subtitle {
        font-size: 24px;
    }

    .image {
        margin-top: 16px;
        width: 100%;
        max-height: 420px;
        object-fit: cover;
    }

    .textBlock {
        max-height: 230px;
        overflow: hidden;
    }

    .footer {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
    }

    .viewsWrap {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.GRID {
    display: inline-block;
    width: 230px;
    padding: 15px;
    background: var(--skeleton-shadow);
    border-radius: 8px;
    transition: transform 0.2s;

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
        margin-bottom: 10px;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    .date {
        position: absolute;
        top: 0;
        right: 0;
    }

    .infoWrapper {
        font: var(--font-s);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .types {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-right: 6px;
    }

    .title {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}
