.input {
    padding: 8px 16px;
    height: 38px;
    border-radius: 48px;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--icon-color);

    &::placeholder {
        color: var(--hint-color);
    }

    &:focus {
        border: 2px solid var(--accent);
    }

    &:read-only {
        opacity: 0.6;
    }
}

.label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
