.root {
    display: flex;
    padding: 10px;
    border-radius: 32px;
    background: var(--dark-bg);
    gap: 10px;
    color: var(--light-bg);
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
}

.selected {
    fill: var(--accent);
}
