.app-dark-theme {
    --bg-color: #30323b;
    --bg-color-invert: #fff;
    --primary-color: #e2e8f0;
    --secondary-color: #94a3b8;
    --accent-color: #38bdf8;
    --primary-color-invert: #0f172a;
    --secondary-color-invert: #334155;
    --accent-color-invert: #0ea5e9;
    --input-shadow: rgb(226 232 240 / 20%) 0 0 0 1px;
    --input-shadow-invert: rgb(15 23 42 / 5%) 0 0 0 1px;
    --input-shadow-focus: var(--accent) 0 0 0 1px;
    --bg-input-color: #363841;
    --bg-input-color-invert: #fff;

    // Skeleton
    --skeleton-color: #3d3e49;
    --skeleton-shadow: #4d4e57;

    // new
    --dark-bg: #090f11;
    --bg: #0c1214;
    --light-bg: #151c1f;
    --text-color: #dbdbdb;
    --hint-color: #555;
    --cancel-color: #d95757;
    --save-color: #6cd98b;
    --icon-color: #74a2b2;
    --accent: #5ed3f3;
}
