.app.dark {
  --bg-color: #0f172a;
  --bg-color-invert: #fff;

  --primary-color: #e2e8f0;
  --secondary-color: #94A3B8;
  --accent-color: #38BDF8;
  --primary-color-invert: #0F172A;
  --secondary-color-invert: #334155;
  --accent-color-invert: #0EA5E9;
}