.app.light {
  --bg-color: #fff;
  --bg-color-invert: #0f172a;

  --primary-color: #0F172A;
  --secondary-color: #334155;
  --accent-color: #0EA5E9;
  --primary-color-invert: #e2e8f0;
  --secondary-color-invert: #94A3B8;
  --accent-color-invert: #38BDF8;
}