.root {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.options {
    position: absolute;
    z-index: 999;
    background: var(--dark-bg);
    color: var(--text-color);
    border-radius: 18px;
    border: 1px solid var(--accent);
    padding: 8px 0;
    width: 100%;
    overflow: hidden;
}

.bottomLeft {
    top: calc(100% + 6px);
}

.topLeft {
    bottom: calc(100% - 24px);
}

.option {
    padding: 6px 16px;
}

.active {
    background: var(--light-bg);
}

.selected {
    background: var(--light-bg);
}

.trigger {
    padding: 5px 16px;
    height: 38px;
    border-radius: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--light-bg);
    border: 2px solid transparent;

    &:focus,
    &:active {
        border: 2px solid var(--accent);
    }
}

.disabled {
    .trigger {
        opacity: 0.7;
        cursor: auto;
    }
}

.placeholder {
    color: var(--hint-color);
}

.icon {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    fill: currentcolor;
    margin-left: auto;
}
