.navbar {
    width: 100%;
    box-shadow: inset 0 -1px 0 0 #e5e7eb;
}

.container {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    gap: 16px;
    align-items: center;
    height: var(--navbar-height);
    margin-left: auto;
}
