.notifications {
    max-height: 240px;
    overflow-y: scroll;
}

.notificationsMob {
    height: 100%;
    overflow-y: scroll;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
}

.trigger {
    display: flex;
    color: var(--icon-color);

    &:hover {
        color: var(--accent);
    }
}
