.root {
    padding: 20px;
    border: 2px solid var(--accent-color);
    width: 500px;
}

.editing {
    border: 2px solid var(--primary-color);
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
