.icon {
    path {
        stroke: var(--icon-color);
    }
}

.themeSwitcher {
    padding: 2px;

    &:hover {
        .icon {
            path {
                stroke: var(--accent);
            }
        }
    }
}
