.appLink {
    font-weight: 500;
    font-size: 16px;
}

.primary {
    color: var(--text-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent {
    color: var(--accent-color);
}

.invert {
    color: var(--primary-color-invert);
}
